{% extends '::frontend.html.twig' %}

{% block article %}
    <h1>Nueva Venta</h1>
    
    {{"now"|date("d/m/Y")}}
    <br></br>
    <form action="{{ path('vender_cliente', {'id' : cliente.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <h2>Datos Venta</h2>
            
            <h3>Paquete</h3>
            <div>
                {{ form_label(edit_form.paquete, 'Paquete de Viaje') }}
                {{ form_widget(edit_form.paquete) }}
                {{ form_errors(edit_form.paquete) }}
            </div>
           <div id="paquete" style="border-color: salmon"></div>
            <br></br>
            
            <h3>Cliente</h3>
            <div>
                {{ form_label(edit_form.cliente, 'Dni de Cliente') }}
                {{ form_widget(edit_form.cliente) }}
                {{ form_errors(edit_form.cliente) }}
            </div>
                        
            <div id="cliente" style="border-color: salmon"></div>
            <br></br>

        <p>
            <button type="submit">Guardar</button>
        </p>
    </form>
    
<ul class="record_actions">
    <li>
        <a href="{{ path('ventas') }}">Volver a Lista</a>
    </li>
</ul> 
    
<script type="text/javascript">

$(document).ready(function(){

    $('#sistema_paquetebundle_ventatype_paquete').on('change', function(){
        var valor = $(this).val();
        var url2 = '{{ path('paquete_muestra', {'id':'id'}) }}';           
        url2 = url2.replace("id", valor);
        $('#paquete').load(url2);
    });
});    
    
var lista = document.getElementById('sistema_paquetebundle_ventatype_cliente').value = '{{cliente.id}}';
    var url = '{{ path('cliente_muestra', {'id':'id'}) }}';
    url = url.replace('id', lista);
    $('#cliente').load(url);

document.getElementById('sistema_paquetebundle_ventatype_cliente').disabled = true;
     
</script>
{% endblock %}
