<table class="record_properties" border=2>
    <tbody>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Fecha de Nacimiento</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>{{ entity.dni }}</td>
            <td>{{ entity.nombrec }}</td>
            <td>{{ entity.apellidoc }}</td>
            <td>{{ entity.direccion }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.fechanacim|localizeddate('long', 'none') }}</td>
            <td>{{ entity.email }}</td>
        </tr>
    </tbody>
</table>